<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}

        <h3>Select a project to view their information.</h3>
        <ul>
            {{#each data}}
            <li><a href="/projects/{{this.proId}}">{{this.ProjectName}}</a></li>
            {{/each}}
        </ul>
        
        {{>footer}}
    </body>
</html>